<!DOCTYPE HTML>
<!--
	Solid State by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Maajon's Kitchen</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
		<script src="https://kit.fontawesome.com/76d03bfb37.js"></script>
		<link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico">
	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="<%= path === '/' || path === '' ? 'alt' : '' %>">
						<h1><a href="/">Maajon's Kitchen</a></h1>
						<nav>
							<a href="#menu"></a>
						</nav>
					</header>