<%- include('includes/head.ejs') %>

<%- include('includes/menu.ejs') %>

				<!-- Wrapper -->
				<section id="">
					<header>
						<div class="inner">
							<h2>Page Not Found!</h2>
						</div>
					</header>
				</section>

			</div>

<%- include('includes/end.ejs') %>