<%- include('includes/head.ejs') %>

<%- include('includes/menu.ejs') %>

				<!-- Wrapper -->
					<section id="wrapper">
						<header>
							<div class="inner">
								<h2>About Maajon's Kitchen</h2>
							</div>
						</header>

						<!-- Content -->
							<div class="wrapper">
								<div class="inner">
									<p>At the heart of Maajon's Kitchen, lies the spirit of a resilient family and the timeless traditions of Afghan cuisine. Our small family, immigrants from Afghanistan, embarked on a journey that led us to a new home far from the land we hold dear. Amidst the challenges and uncertainties, one thing remained constant – the passion for our cultural heritage and the desire to share the flavors of our homeland with others. It is in this spirit that Maajon's Kitchen came to life, a tribute to our roots and a labor of love curated by the skilled hands of our family's beloved mother.</p>
									<p>With a passion for cooking and a desire to share the tastes of our heritage, we embarked on a culinary adventure. Maajon's Kitchen was born as a home-based business, offering a delectable array of authentic Afghan dishes. Each recipe is crafted with love, combining traditional flavors and techniques passed down through generations.</p>
									<p>At present, we operate on an order-by-order basis, connecting with our valued customers through messages. This allows us to maintain a personal touch and ensure that every dish is prepared with utmost care and attention to detail. As the demand for our flavors grows and our community embraces our culinary creations, we envision expanding our business to physical stores equipped with convenient online ordering systems.</p>
									<p>Our mission is simple yet profound - to bring the taste of Afghan cuisine to your homes. Through Maajon's Kitchen, we invite you to embark on a culinary journey that celebrates the richness of our culture. With every bite, we hope to transport you to the vibrant streets of Kabul, the aromatic spice markets, and the warm hospitality of Afghan homes.</p>
								</div>
							</div>

					</section>

<%- include('includes/end.ejs') %>