<%- include('includes/head.ejs') %>

				<!-- Wrapper -->
					<section id="wrapper">
						<!-- Content -->
							<div class="wrapper">
								<div class="inner">
									<h2 class="major">Add dish</h2>
									<form method="POST" action="#">
										<div class="fields">
											<div class="field">
												<label for="name">Name</label>
												<input type="text" name="name" id="name" />
											</div>
											<div class="field">
												<label for="email">Email</label>
												<input type="email" name="email" id="email" />
											</div>
											<div class="field">
												<label for="message">Message</label>
												<textarea name="message" id="message" rows="4"></textarea>
											</div>
										</div>
										<ul class="actions">
											<li><input type="submit" value="Save" /></li>
										</ul>
									</form>
								</div>
							</div>

					</section>
			</div>

<%- include('includes/end.ejs') %>